.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.activities {
  display: flex;
  align-items: center;
  height: 124px;
  background-color: #d9d9d9;
  border-radius: 15px;
}
.activities img {
  height: 88px;
  margin-top: -28px;
  margin-bottom: -37px;
  margin-left: 20px;
}

.text {
  text-align: left;
  margin: 5px;
  padding-left: 10px;
  font-family: "Indie Flower", cursive;
}
h3 {
  font-size: 30px;
  font-family: "Indie Flower", cursive;
}

@media screen and (max-width: 700px) {
  .container {
    flex-wrap: wrap;
    margin: 20px;
    width: 85%;
    margin-left: 32px;
  }

  .activities {
    height: auto;
    padding: 5px;
    background-color: bisque;
  }

  .text {
    font-size: 10px;
  }
  .activities {
    height: fit-content;
  }
}
