.request-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 600px;
  height: 600px;
  background-color: #dfdfe9;
  border-radius: 8px;
}

.request-text {
  display: inline-block;
  width: 500px;
  height: 60px;
  font-size: 4rem;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .request-app {
    width: 350px;
  }
  .request-text {
    width: 400px;
    font-size: 3rem;
  }
}
