* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  align-content: center;
  min-height: 100vh;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(156, 166, 239, 0.177);

  height: 95vh;
}
.info-container {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.INFO {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-basis: 40%;
  gap: 20px;
}

.item {
  flex-basis: 10%;
  justify-content: space-between;
}

.items-text {
  font-size: larger;
}
