* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Code Pro", monospace;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  /* background-color: rgba(156, 166, 239, 0.177); */
  height: 100vh;
  padding: 20px;
  align-items: baseline;
  align-content: stretch;
  background-image: url("//images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/9e0a28834a3c58f8ae5852fe/Untitled-2.jpg");
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}
.header {
  margin-top: 60px;
  margin-left: 20px;
}

.item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-basis: 45%;
  align-items: center;
  line-height: 1.5;
  /* margin: 10px; */
}

.items-text {
  font-size: large;
}
.header-text {
  font-size: xx-large;
  font-family: Chalkduster, fantasy;
}
h3 {
  color: green;
  font-family: Chalkduster, fantasy;
}
h4 {
  color: green;
}
.animal {
  width: 100px; /* Adjust the size of the animal */
  height: 100px;
  background-image: url("https://stock.adobe.com/images/paw-print-isolated-on-white/137774495"); /* Replace 'animal.png' with your image */
  background-size: cover;
  animation-name: walk;
  animation-duration: 1s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

@keyframes walk {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400px 0; /* Adjust the distance according to the size of your image */
  }
}

@media screen and (max-width: 700px) {
  .container {
    border: 10px dashed black;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }
  .items-text {
    color: green;
  }

  .items-text3 {
    color: rgb(36, 125, 184);
  }
  .header-text {
    margin-top: -80px;
  }
  .info-container {
    margin-top: 40px;
  }
}
