* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Code Pro", monospace;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  /* background-color: rgba(156, 166, 239, 0.177); */
  height: 100vh;

  background-image: url("//images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/9e0a28834a3c58f8ae5852fe/Untitled-2.jpg");
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.header {
  margin-top: 60px;
  margin-left: 20px;
}

.item {
  flex-basis: 45%;
}

.items-text {
  font-size: large;
}
.header-text {
  font-size: x-large;
}

@media screen and (max-width: 900px) {
  .container {
    border: 10px;
  }
}
