* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nanny-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  margin: 20px;
}
.nanny-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  /* height: fit-content; */
  background-color: #ee6c8b;
  color: white;
  box-shadow: 9px 7px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  flex-wrap: nowrap;
  flex-basis: 25%;
  flex: 1;
}

.nanny-cards-container {
  background-color: #fcfcfc;
  padding: 50px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
}

.nanny-exp {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  padding: 10px 0;
}

.nanny-one img {
  box-shadow: 0 10px rgb(19, 81, 117);
}

.nanny-two img {
  box-shadow: 0 10px #104911;
}

.nanny-three img {
  box-shadow: 0 10px #b18138;
}

.nanny-four img {
  box-shadow: 0 10px #7e2439;
}

.nanny-card img {
  border-radius: 50%;
  object-fit: cover;
  height: 194px;
  margin-bottom: 3px;
  margin-top: 5px;
  width: 210px;
  border: 2px #73e7e6;
}

.nanny-card-title {
  color: white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}

.text {
  text-align: left;
  margin: 5px;
  padding-left: 10px;
  font-family: "Indie Flower", cursive;
}

.nanny-desc {
  font-size: 1rem;
  padding: 10px 0;
}

@media screen and (max-width: 1200px) {
  .nanny-list {
    flex-wrap: wrap;
  }

  .nanny-card {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 700px) {
  .nanny-cards-container {
    padding: 30px 0;
  }
  .nanny-list {
    flex-wrap: wrap;
  }
  .nanny-card {
    /* flex-wrap: wrap; */
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 7px 18px 0px rgba(0, 0, 0, 0.75);
    height: fit-content;
    flex-basis: 100%;
  }

  .nanny-desc {
    font-size: 1rem;
  }
}
