.main-page-container {
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-weight: bolder;
}

.main-background {
  position: relative;
  width: 100%;
  height: 100vh;
  position: center;
  object-fit: cover;
  filter: contrast(90%);
}

.main-page {
  position: absolute;
  top: 50px;
  right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: right;
  height: 100%;
  color: rgb(255, 255, 255);
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  z-index: 2;
}

.title {
  font-size: 5rem;
  text-decoration-line: underline;
}

.main-page-list {
  font-size: 3rem;
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 900px) {
  .title {
    text-align: center;
    font-size: 3.5rem;
  }

  .main-page {
    text-align: center;
    align-items: center;
    padding-left: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .main-page-list {
    font-size: 2.5rem;
  }

  .main-page-btn {
    align-self: center;
  }
}
